.jumbotron 
{
	background-color: blue;
	color: white;
}

footer {
	padding: 10px 10px 0 10 px;
	background-color: blue;
	margin-bottom: 0px;
	margin-top: 10px;
	color: white;
}

.card-rit{
	flex: 1 300px;
	padding: 2px 0px 2px 0px;
}

.btn-reserva {
	width: 100%;
	margin-top: 5px;
	border-radius: 0px;
}

.address-padding{
	padding-right: 5px;
}