@blue: #00163b;

.margenes(@top: 0px, @bottom: 0px){
	margin-bottom: @top;
	margin-top: @bottom;	
}

.jumbotron 
{
	background-color: @blue;
	color: white;
}

footer {
	padding: 10px 10px 0 10 px;
	background-color: @blue;
	.margenes(10px,0px);
	color: white;
}

.card-rit{
	flex: 1 300px;
	padding: 2px 0px 2px 0px;
}

.btn-reserva {
	width: 100%;
	.margenes(5px,0px);
	border-radius: 0px;
}

.address-padding{
	padding-right: 5px;
}