.jumbotron {
  background-color: #001630;
  color: white; }

footer {
  padding: 10px 10px 0 10 px;
  background-color: #001630;
  margin-bottom: 10px;
  margin-top: 0px;
  color: white; }

.card-rit {
  flex: 1 300px;
  padding: 2px 0px 2px 0px; }

.btn-reserva {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 0px;
  border-radius: 0px; }

.address-padding {
  padding-right: 5px; }
